.main-div {
  height: 100vh;
  position: relative;
  display: flex;
  margin: auto, -50%;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: x-large;
  border-style: none;
  outline-style: none;
  cursor: pointer;
}

.label {
  font-size: xx-large;
  margin: 0px 20px;
}
